animate-duration-count-infinite, .quadrant-9, .quadrant-8, .quadrant-7, .quadrant-6, .quadrant-5, .quadrant-4, .quadrant-3, .quadrant-2 {
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Shadows Into Light", cursive;
}

.loading-component {
  position: relative;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  width: 200px;
}

.square {
  margin: auto;
  width: 112px;
  height: 112px;
}

.loading-component h2 {
  text-align: center;
  color: #40997b;
}

.quadrant {
  width: 30px;
  height: 30px;
  min-width: 30px;
  margin: 4px;
  border-radius: 2px;
  position: absolute;
  border: 1px solid #40997b;
}

.quadrant-1 {
  border: 1px solid #40997b;
  background-color: #40997b;
}

.quadrant-2 {
  animation-name: quad-2;
}

@keyframes quad-2 {
  10% {
    transform: translateX(36px) translateY(0px) rotate(90deg);
  }
  100% {
    transform: translateX(36px) translateY(0px) rotate(90deg);
  }
}
.quadrant-3 {
  animation-name: quad-3;
}

@keyframes quad-3 {
  10% {
    transform: translateX(36px) translateY(0px) rotate(90deg);
  }
  20% {
    transform: translateX(72px) translateY(0px) rotate(180deg);
  }
  100% {
    transform: translateX(72px) translateY(0px) rotate(180deg);
  }
}
.quadrant-4 {
  animation-name: quad-4;
}

@keyframes quad-4 {
  20% {
    transform: translateX(0px) translateY(0px) rotate(0);
  }
  30% {
    transform: translateX(0px) translateY(36px) rotate(90deg);
  }
  100% {
    transform: translateX(0px) translateY(36px) rotate(90deg);
  }
}
.quadrant-5 {
  animation-name: quad-5;
}

@keyframes quad-5 {
  20% {
    transform: translateX(0px) translateY(0px) rotate(0);
  }
  30% {
    transform: translateX(0px) translateY(36px) rotate(90deg);
  }
  40% {
    transform: translateX(36px) translateY(36px) rotate(180deg);
  }
  100% {
    transform: translateX(36px) translateY(36px) rotate(180deg);
  }
}
.quadrant-6 {
  animation-name: quad-6;
}

@keyframes quad-6 {
  20% {
    transform: translateX(0px) translateY(0px) rotate(0);
  }
  30% {
    transform: translateX(0px) translateY(36px) rotate(90deg);
  }
  40% {
    transform: translateX(36px) translateY(36px) rotate(180deg);
  }
  50% {
    transform: translateX(72px) translateY(36px) rotate(270deg);
  }
  100% {
    transform: translateX(72px) translateY(36px) rotate(270deg);
  }
}
.quadrant-7 {
  animation-name: quad-7;
}

@keyframes quad-7 {
  20% {
    transform: translateX(0px) translateY(0px) rotate(0);
  }
  30% {
    transform: translateX(0px) translateY(36px) rotate(90deg);
  }
  50% {
    transform: translateX(0px) translateY(36px) rotate(90deg);
  }
  60% {
    transform: translateX(0px) translateY(72px) rotate(180deg);
  }
  100% {
    transform: translateX(0px) translateY(72px) rotate(180deg);
  }
}
.quadrant-8 {
  animation-name: quad-8;
}

@keyframes quad-8 {
  20% {
    transform: translateX(0px) translateY(0px) rotate(0);
  }
  30% {
    transform: translateX(0px) translateY(36px) rotate(90deg);
  }
  50% {
    transform: translateX(0px) translateY(36px) rotate(90deg);
  }
  60% {
    transform: translateX(0px) translateY(72px) rotate(180deg);
  }
  70% {
    transform: translateX(36px) translateY(72px) rotate(270deg);
  }
  100% {
    transform: translateX(36px) translateY(72px) rotate(270deg);
  }
}
.quadrant-9 {
  animation-name: quad-9;
}

@keyframes quad-9 {
  20% {
    transform: translateX(0px) translateY(0px) rotate(0);
  }
  30% {
    transform: translateX(0px) translateY(36px) rotate(90deg);
  }
  50% {
    transform: translateX(0px) translateY(36px) rotate(90deg);
  }
  60% {
    transform: translateX(0px) translateY(72px) rotate(180deg);
  }
  70% {
    transform: translateX(36px) translateY(72px) rotate(270deg);
  }
  80% {
    transform: translateX(72px) translateY(72px) rotate(360deg);
  }
  100% {
    transform: translateX(72px) translateY(72px) rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
