body {
  height: 100vh;
  width: 100vw;
  font-family: 'Shadows Into Light', cursive;
}

.loading-component {
  position: relative;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  width: 200px;
}

.square {
  margin: auto;
  width: 112px;
  height: 112px;
}

.loading-component > h2 {
  text-align: center;
  color: rgb(64, 153, 123);
}

.quadrant {
  width: 30px;
  height: 30px;
  min-width: 30px;
  margin: 4px;
  border-radius: 2px;
  position: absolute;
  border: 1px solid rgb(64, 153, 123);
}

.quadrant-1 {
  border: 1px solid rgb(64, 153, 123);
  background-color: rgb(64, 153, 123);
}

.quadrant-2 {
  animation-name: quad-2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes quad-2 {
  10% {
    transform: translateX(36px) rotate(90deg);
  }

  100% {
    transform: translateX(36px) rotate(90deg);
  }
}

.quadrant-3 {
  animation-name: quad-3;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes quad-3 {
  10% {
    transform: translateX(36px) rotate(90deg);
  }

  20% {
    transform: translateX(72px) rotate(180deg);
  }

  100% {
    transform: translateX(72px) rotate(180deg);
  }
}

.quadrant-4 {
  animation-name: quad-4;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes quad-4 {
  20% {
    transform: translateX(0px) rotate(0);
  }

  30% {
    transform: translateY(36px) rotate(90deg);
  }

  100% {
    transform: translateY(36px) rotate(90deg);
  }
}

.quadrant-5 {
  animation-name: quad-5;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes quad-5 {
  20% {
    transform: translateX(0px) rotate(0);
  }

  30% {
    transform: translateY(36px) rotate(90deg);
  }

  40% {
    transform: translateX(36px) translateY(36px) rotate(180deg);
  }

  100% {
    transform: translateX(36px) translateY(36px) rotate(180deg);
  }
}

.quadrant-6 {
  animation-name: quad-6;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes quad-6 {
  20% {
    transform: translateX(0px) rotate(0);
  }

  30% {
    transform: translateY(36px) rotate(90deg);
  }

  40% {
    transform: translateX(36px) translateY(36px) rotate(180deg);
  }

  50% {
    transform: translateX(72px) translateY(36px) rotate(270deg);
  }

  100% {
    transform: translateX(72px) translateY(36px) rotate(270deg);
  }
}

.quadrant-7 {
  animation-name: quad-7;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes quad-7 {
  20% {
    transform: translateX(0px) rotate(0);
  }

  30% {
    transform: translateY(36px) rotate(90deg);
  }

  50% {
    transform: translateY(36px) rotate(90deg);
  }

  60% {
    transform: translateY(72px) rotate(180deg);
  }

  100% {
    transform: translateY(72px) rotate(180deg);
  }
}

.quadrant-8 {
  animation-name: quad-8;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes quad-8 {
  20% {
    transform: translateX(0px) rotate(0);
  }

  30% {
    transform: translateY(36px) rotate(90deg);
  }

  50% {
    transform: translateY(36px) rotate(90deg);
  }

  60% {
    transform: translateY(72px) rotate(180deg);
  }

  70% {
    transform: translateX(36px) translateY(72px) rotate(270deg);
  }

  100% {
    transform: translateX(36px) translateY(72px) rotate(270deg);
  }
}

.quadrant-9 {
  animation-name: quad-9;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes quad-9 {
  20% {
    transform: translateX(0px) rotate(0);
  }

  30% {
    transform: translateY(36px) rotate(90deg);
  }

  50% {
    transform: translateY(36px) rotate(90deg);
  }

  60% {
    transform: translateY(72px) rotate(180deg);
  }

  70% {
    transform: translateX(36px) translateY(72px) rotate(270deg);
  }

  80% {
    transform: translateX(72px) translateY(72px) rotate(360deg);
  }

  100% {
    transform: translateX(72px) translateY(72px) rotate(360deg);
  }
}
